$font-family-alert:"lato-light", sans-serif;
$font-family-message:"lato-black", sans-serif;
$font-family-lorem:"lato-regular", sans-serif;
$font-size-alert: 30px;
$primary-font-size: 14px;
$font-spacing-message: 100px;
$font-spacing-lorem: 24px;
